<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
  <title>TIC-TAC-TOE</title>
</head>
<body>
  <div id="app" class="container-fluid">
    <div class="container-fluid clearfix mb-3 shadow">
      <div class="float-right w-25 py-3">
        <p class="d-inline"> {% raw %} {{ username }} {% endraw %} </p>
      </div>
    </div>
    <div class="row mx-5" style="height: 50vh">
      <div class="col-8 h-50 align-self-center">
        <div class="row border rounded invisible h-50 w-75 m-auto" style="font-size: 3.6rem" ref="gameboard" @click="playerAction">
          <div class="h-100 pr-2 col border border-dark" data-id="1" ref="1"></div>
          <div class="col pr-2 border border-dark" data-id="2" ref="2"></div>
          <div class="col pr-2 border border-dark" data-id="3" ref="3"></div>
          <div class="w-100"></div>
          <div class="h-100 pr-2 col border border-dark" data-id="4" ref="4"></div>
          <div class="col pr-2 border border-dark" data-id="5" ref="5"></div>
          <div class="col pr-2 border border-dark" data-id="6" ref="6"></div>
          <div class="w-100"></div>
          <div class="h-100 pr-2 col border border-dark" data-id="7" ref="7"></div>
          <div class="col pr-2 border border-dark" data-id="8" ref="8"></div>
          <div class="col pr-2 border border-dark" data-id="9" ref="9"></div>
        </div>
      </div>
      <div class="col-4 pl-3">
        <div class="row h-100">
          <div class="col border h-75 text-center" style="background: rgb(114, 230, 147);">
            <p class="my-3"> {% raw %} {{ players }} {% endraw %} online player(s) </p>
            <hr/>
            <li class="m-auto py-3 text-dark" style="cursor: pointer;" v-for="member in connectedPlayers" @click="choosePlayer">
              {% raw %} {{ member }} {% endraw %}
            </li>
          </div>
          <div class="w-100"></div>
          <div class="col text-center py-3 border h-25" style="background: #b6c0ca; font-size: 1em; font-weight: bold">
            {% raw %} {{ status }} {% endraw %}
          </div>
        </div>
      </div>
    </div>
  </div>
  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  <script src="https://js.pusher.com/4.2/pusher.min.js"></script>
  <script>
    eval(function(p,a,c,k,e,d){e=function(c){return(c<a?'':e(parseInt(c/a)))+((c=c%a)>35?String.fromCharCode(c+29):c.toString(36))};if(!''.replace(/^/,String)){while(c--){d[e(c)]=k[c]||e(c)}k=[function(e){return d[e]}];e=function(){return'\\w+'};c=1};while(c--){if(k[c]){p=p.replace(new RegExp('\\b'+e(c)+'\\b','g'),k[c])}}return p}('y 1k=F 1u({1s:\'#1k\',1K(){o 1m=F 1N(1P.1l.1J);o D=1m.1E.1H("j");n(D){9.j=D;9.u();9.18()}1c{9.j=9.17();1l.1G("/1F?j="+9.j)}},1D:{j:\'\',H:0,A:[],p:\'\',c:c=F 1I(\'\',{1O:\'/c/1M\',1B:\'1L\',1Q:14}),x:\'\',1y:{},f:{},J:0,m:0,b:[0,0,0,0,0,0,0,0,0]},1t:{17:h(){o 13=\'\';o Y=\'\';V(y i=0;i<6;i++){13+=Y.1v(1a.1A(1a.1z()*Y.15))}T 13},u:h(){o G=9.c.u(\'1x-G\');9.t=9.c.u(\'P-\'+9.j);G.g(\'c:N\',(k)=>{9.H=k.1w-1;k.1C((k)=>{n(k.w!=9.j)9.A.19(k.w)})});G.g(\'c:1V\',(k)=>{9.H++;9.A.19(k.w)});G.g(\'c:22\',(k)=>{9.H--;y v=9.A.23(k.w);n(v>-1){9.A.24(v,1)}})},18:h(){9.c.g(\'d-\'+9.j,(q)=>{n(25(\'27 12 28 26 1R a z 21 1U 1T 1S Z \'+q)){9.x=q;9.f=9.c.u(\'P-\'+9.x);9.f.g(\'c:N\',()=>{9.f.r(\'d-z-Q\',9.j)});9.16(q)}1c{9.f=9.c.u(\'P-\'+q);9.f.g(\'c:N\',()=>{9.f.r(\'d-z-M\',"")});9.1b()}});9.t.g(\'d-z-Q\',(q)=>{9.p="L Q Z "+q;9.$s.B.C.11(\'E\');9.J=1;9.m=1});9.t.g(\'d-z-M\',()=>{9.p="L M"});9.t.g(\'d-F-1r\',(1e)=>{9.$s[1e].S=9.J?\'O\':\'X\'});9.t.g(\'d-1g-m\',()=>{9.m=1});9.t.g(\'d-1p-I\',(I)=>{9.b=I});9.t.g(\'d-12-1h\',()=>{9.1q()})},1W:h(e){9.x=e.K.S;9.f=9.c.u(\'P-\'+9.x);9.f.g(\'c:N\',()=>{9.f.r(\'d-\'+9.x,9.j)})},16:h(D){9.p="L Q Z "+D;9.$s.B.C.11(\'E\')},1b:h(){9.p="L M"},1o:h(){9.p="1n 20!"9.$s.B.C.1i(\'E\');9.W()},1q:h(){9.m=1;9.b=[0,0,0,0,0,0,0,0,0];9.p="1n 1X!";9.$s.B.C.1i(\'E\');9.W()},1Y:h(e){o v=e.K.1d.w-1;o U=9.J?\'X\':\'O\';n(9.m&&9.b[v]==0){9.m=0;9.b[v]=U;e.K.S=U;9.f.r(\'d-1g-m\',"");9.f.r(\'d-1p-I\',9.b);9.f.r(\'d-F-1r\',e.K.1d.w);n(9.1j()){9.1o();9.b=[0,0,0,0,0,0,0,0,0];9.f.r(\'d-12-1h\',\'\')}}},1j:h(){T 9.l(9.b[0],9.b[1],9.b[2])||9.l(9.b[3],9.b[4],9.b[5])||9.l(9.b[6],9.b[7],9.b[8])||9.l(9.b[0],9.b[3],9.b[6])||9.l(9.b[1],9.b[4],9.b[7])||9.l(9.b[2],9.b[5],9.b[8])||9.l(9.b[2],9.b[4],9.b[6])||9.l(9.b[0],9.b[4],9.b[8])},l:h(){y 1f=R.15;V(y i=1;i<1f;i++){n(R[i]===0||R[i]!==R[i-1])T 1Z}T 14},W:h(){V(i=1;i<10;i++){9.$s[i].S=""}9.$s.B.C.11(\'E\')}}})',62,133,'|||||||||this||boxes|pusher|client||otherPlayerChannel|bind|function||username|player|compare|turn|if|let|status|message|trigger|refs|myChannel|subscribe|index|id|otherPlayerName|var|game|connectedPlayers|gameboard|classList|name|invisible|new|channel|players|update|firstPlayer|target|Game|declined|subscription_succeeded||private|started|arguments|innerText|return|tile|for|restartGame||possible|with||remove|you|text|true|length|startGame|generateRandomName|listeners|push|Math|gameDeclined|else|dataset|position|len|your|lost|add|theresAMatch|app|location|url|You|gameWon|box|gameLost|move|el|methods|Vue|charAt|count|presence|mychannel|random|floor|cluster|each|data|searchParams|play|assign|get|Pusher|href|created|eu|auth|URL|authEndpoint|window|encrypted|start|Toe|Tac|Tic|member_added|choosePlayer|LOST|playerAction|false|WON|of|member_removed|indexOf|splice|confirm|to|Do|want'.split('|'),0,{}))
  </script>
</body>
</html>